[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "vim/inkpot"]
	path = vim/pack/plugins/start/inkpot
	url = https://github.com/ciaranm/inkpot
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/plugins/start/rainbow_csv"]
	path = vim/pack/plugins/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule "vim/pack/plugins/start/python-syntax"]
	path = vim/pack/plugins/start/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "vim/pack/plugins/start/vim-characterize"]
	path = vim/pack/plugins/start/characterize
	url = git@github.com:tpope/vim-characterize.git
[submodule "vim/pack/plugins/start/Recover.vim"]
	path = vim/pack/plugins/start/recover
	url = git@github.com:chrisbra/Recover.vim.git
